body {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #333;
    color: orange;
    font: bolder;
}

h1{
    margin: 20px;
}

p{
    font-size: 20px;
}

.rounded-circle {
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 320px;
    width: auto;
}

img {
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 230px;
    width: auto;
}

.container {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 800px;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    height: 620px;
    width:100%;
}

.option {
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

#game-start {
    box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: orange;
    font-size: 20px;
}

#timer {
    margin-bottom: 20px;
    font-size: 20px;
}